@import "../styleguide/colors";

.home {
  width: 336px;
  min-height: 100%;
  padding: 8px;
  background: $theme-color-3;
}

.divider {
  height: 2;
  border-top: 2px solid black;
  margin: 16px 0;
}

.addNewButton,
.title {
  margin-bottom: 8px;
}

.content {
  width: 100%;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  transform: translateX(0);
  transition: transform 0.05s ease-out;
}

.showForm .contentWrapper {
  transform: translateX(-328px);
}

.addForm,
.editForm,
.overview {
  flex-shrink: 0;
  width: 320px;
}

.editForm,
.overview {
  margin-right: 8px;
}

.streakList {
  max-height: 304px;
  overflow: auto;
  margin-bottom: 8px;
}

.showCompleted {
  margin-bottom: 8px;
}
