@function hover-color($color) {
  @return darken($color, 5%);
}

$color-blue: #00ACE2;
$color-white: white;
$color-grey: #f2f2f2;
$color-black: black;

$theme-color-1: $color-blue;
$theme-color-2: $color-white;
$theme-color-3: $color-grey;
$theme-color-4: $color-black;

//$color-yellow: #ffd02e;
// $theme-color-2: #1ed278;
// $theme-color-3: #ff0051;
// $theme-color-4: #4a90e2;
// $theme-color-5: #000000;
// $theme-color-6: #ffffff;
